/*#######################[ FONT ]#####################*/

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

/*--------------------Basic--------------------*/
* {
  box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

h3 {
    text-align: center;
}

/*--------------------Hyperlink--------------------*/
a:link {
    color: #D52027;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #D52027;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #A69B90;
    background-color: transparent;
    /* text-decoration: underline; */
}
a:active {
    color: #D52027;
    background-color: transparent;
    /* text-decoration: underline; */
}

/*--------------------Navigation Bar--------------------*/

#myNavbar i {
  padding-right: 0.5rem;
}

#myNavbar a {
    color: #A69B90;
}

#myNavbar a:hover {
    color: black;
}

#assignments {
    min-width: 48rem;
    width: 100%;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #6b000D;
    color: #BEBEBE;
    font-size: 30px;

    min-width: 500px;
    max-width: 100%;
    width: 100%;
}

.center {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0 50px 0;
}

/* Float three columns side by side */
.column {
  min-width: 100%;
  max-width: 100%;
  padding: 0 10px 10px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 10px -10px 10px 10px;
    color: #6B000D;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #BEBEBE;
}

.card_yea {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #828282;
}

table, th, td {
    background-color: #BEBEBE;
    color: #6B000D;
    border: 1px solid black;
    border-collapse: collapse;
    float:  center;
}
th, td {
    padding: 15px;
    text-align: center;
}

/*--------------------Image--------------------*/

.container {
    position: relative;
    width: 30%;
    height: auto;
    padding: 10px 10px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #6B000D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
    }
}

.footer {
   min-width: 720px;
}
