/*#######################[ FONT ]#####################*/

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

/*--------------------Basic--------------------*/
* {
  box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

h3 {
    text-align: center;
}

/*--------------------Hyperlink--------------------*/
a:link {
    color: #4B4B4B;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #4B4B4B;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #828282;
    background-color: transparent;
    /* text-decoration: underline; */
}
a:active {
    color: #000000;
    background-color: transparent;
    /* text-decoration: underline; */
}

/*--------------------Navigation Bar--------------------*/

#myNavbar i {
  padding-right: 0.5rem;
}

#myNavbar a {
    color: #A69B90;
}

#myNavbar a:hover {
    color: black;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #6b000D;
    color: #BEBEBE;
    font-size: 30px;
}

/* Float three columns side by side */
.column {
  /*float: left;*/
  min-width: 33%;
  max-width: 33%;
  padding: 0 10px 10px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 10px -10px 10px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card_first {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #BEBEBE;
  height: 10rem;
  overflow: auto;
}

.card_second {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #BEBEBE;
  height: 20rem;
  overflow: auto;
}

.card_second_left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #BEBEBE;
  height: 20rem;
  overflow: auto;
}

.card_third {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #BEBEBE;
  height: 30rem;
  overflow: auto;
}

/* Phone */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    min-width: 100%;
  }

  .flex-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }

  .card_first, .card_second, .card_third, .card_second_left {
    height: auto;
  }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .column {
      width: 50%;
      min-width: 50%;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card_first {
        height: 10rem;
        overflow: auto;
    }

    .card_second, .card_second_left {
        height: 20rem;
        overflow: auto;
    }

    .card_third {
        height: 30rem;
        overflow: auto;
    }

    .special_card {
        height: 20rem;
        overflow: auto;
    }
}
